<table class="table_border">
<tr>
<td><%= designation_type.label :name%> </td>
<td> <%= designation_type.text_field :name%> </td>
</tr>
<tr>
<td> <%= designation_type.label :location%> </td>
<td> <%= designation_type.select :location_id, locations_for_select %>
</tr>
<tr>
<td> <%= designation_type.label :status%></td>
<td> <%= designation_type.select :status, status_for_masters%>
</tr>
<tr><td colspan = "2"> <%= designation_type.submit "Submit"%> </td> </tr>
</table>



